
body {
  color: #4E596B;
  background-color: #F3F6F8;
  margin:0;
  padding: 0;
}


.loginbox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
    height: auto;
    overflow: hidden;
}

	.box-wrapper {
	  display: table;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
	}

	.box-wrapper::before {
	  content: "";
	  position: fixed;
	  left: -22%;
	  top: 50%;
	  right: 0;
	  width: 125%;
	  height: 100%;
	  background: linear-gradient(135deg, #f3f6f8 0%, #fff 90%);
	  transform: rotate(15deg);
	}


	.left {
/*		padding: 1%;
		padding-left:0;
		padding-top:0;
*/	}

	.left h3 {
		margin-top: 4.5%;
	}
	.bntlogin {
	  float: right;
	}

	.esqci label {
	  text-align: left;
	  float: left;
	  padding-left: 3px;
	  cursor: pointer;
	  margin-top: 10px;
	}

	.rigth {
/*	  padding: 0;
	  padding-right:0;
	  padding-top: 0;
*/	}

	.rigth p {
	  text-align: right;
	}

	.rigth h3 {
	  text-align: right;
	}

	#logo {
	  margin-top: 0;
	  margin-left: 0;
	}

	.btn-primary {
	  background-color: #46909b !important;
	  border-color: #21707c !important;
	}

	.btn-primary:hover {
	  background-color: #2d5c63 !important;
	  border-color: #164e56 !important;
	}

	.bntok {
	  float: right;
	}

	h4 hr {
	  margin-bottom: 0;
	  margin-top: 8px;
	}

	.bntesq {
	  float: left;
	}

	input:focus {
	  background-color: #eaebed;
	  border: 1px solid #cecece;
	  outline: none;
	}

	#alertt {
	  display: none;
	}

#boxmain {
/*	background-color: blue;
*/}
	
#boxleft {
/*	background-color: red;
*/}

div.flex-align {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

.initload {
	width: 130px;
	height: 32px;	
	margin-left: auto;
	margin-right: auto;
}
.initload img{
	width: 32px;
	height: 32px;
	float: left;
}

.initload p {
	padding-top: 4%;
}

.loading {
	width: 130px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
}
.loading img {
	float: left;
}

.loading p {
	padding-top: 3%;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	#logo img{
		width: 100%;
		margin-left: 10%;
		padding: 0;
	}
	#boxleft h3 {
		text-align: center;
		font-size: 17px;
	}

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	#boxleft{
		margin-top: 30px;
		padding-top: 30px;
	}
	#logo img{
		width: 80%;
		margin-left: 10%;
		padding: 0;
	}
	#boxleft h3 {
		text-align: center;
		font-size: 17px;
	}


}

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
	#logo img{
		margin-top: 5%;
		width: 80%;
	}

	#boxleft h3 {
		font-size: 18px;
	}

	#boxleft p {
		font-size: 13px;
	}


}

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }

